<div>
  <h3>Booting...</h3>

  <div>Angular Version: {{stat.angularVersion}}</div>
  <br>
  <div>Navigator: {{stat.navigator.userAgent}} on {{stat.navigator.platform}}</div>
  <br>
  <div *ngIf="!bootTimeOut" fxLayout="column">
    <div>Boot sequence interrupted.</div>
    <div>
      <span class="selected" (click)="refresh()">
        Press F2 or click here to refresh.
      </span>
    </div>
  </div>
  <div *ngIf="touchTimes >= 5">
    <div *ngIf="touchTimes < 10">
      Click {{ 10 - touchTimes}} more times to interrupt.
    </div>
  </div>

  <span class="blink">_</span>
</div>
