<div class="layout" fxLayout="column" fxLayoutAlign="space-between space-between" fxLayoutGap="8px" fxFlexFill>
  <div fxLayout="column" fxLayoutGap="8px" *ngIf="config">
    <app-win-tab-group>
      <ng-template WinTab="language" [title]="'LANGUAGE' | translate">
        <!-- 語言-->
        <fieldset>
          <legend>{{'LANGUAGE' | translate}}</legend>
          <select [(ngModel)]="lang" (ngModelChange)="modified = true">
            <option *ngFor="let l of langs" [value]="l.name">{{l.name}} - {{l.displayName}}</option>
          </select>
        </fieldset>
      </ng-template>
      <ng-template WinTab="display" [title]="'DISPLAY' | translate">
        <!-- 背景顏色-->
        <fieldset fxLayout="column" fxLayoutGap="8px">
          <legend>{{'THEMES' | translate}}</legend>
          <div fxLayout="row" fxLayoutGap="8px">
            <label for="bg">{{'BACKGROUNDCOLOR' | translate}}</label>
            <input type="color" id="bg" name="bg" [(ngModel)]="config.background" (ngModelChange)="modified = true">
          </div>
          <div fxLayout="row column" fxLayoutGap="8px" fxLayoutAlign="start center">
            <label for="bgimg">{{'BACKGROUNDURL' | translate}}</label>
            <input type="text" id="bgimg" name="bgimg" [(ngModel)]="config.backgroundImage"
              (ngModelChange)="modified = true">
            <a (click)="disableBgImg()">{{'CANCEL' | translate}}</a>
          </div>
        </fieldset>
      </ng-template>
      <ng-template WinTab="sounds" [title]="'SOUNDS' | translate">
        <!-- 聲音-->
        <fieldset>
          <legend>{{'SOUNDS' | translate}}</legend>
          <div>
            coming soooon (TM)
          </div>
        </fieldset>
      </ng-template>
    </app-win-tab-group>


  </div>
  <!-- 確定、取消、套用 -->
  <div fxLayout="column" fxLayoutGap="8px">
    <a (click)="default()" fxLayoutAlign="end">{{'RESETDEFAULTS' | translate}}</a>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="8px">
      <button (click)="ok()">{{'CONFIRM' | translate}}</button>
      <button (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button (click)="apply()" [disabled]='!modified'>{{'APPLY' | translate}}</button>
    </div>
  </div>

</div>
<!-- 如果有對話視窗-->
<div *ngIf="dialog" class="dialog-disable" fxFlexFill></div>
