<div class="desktop full-screen" fxLayout="column" fxFlexFill [ngStyle]="styleCallBack()">
  <!-- <app-win-window title="test">
    <pre>
print("hello world")
  </pre>
  </app-win-window>
-->
  <ng-container *ngFor="let task of tasks">
    <app-win-window [maximize]="task.maximize" [minimize]="task.minimize" [title]="task.title" [icon]="task.icon"
      (wMessage)="wMessage($event, task)" (click)="onWindowClick($event, task)"
      [active]="!task.minimize && activeWindow === task">
      <!--
      <ng-container *ngComponentOutlet="task.component; injector: appsInjector;ngModuleFactory: appsModule" [ndcDynamicOutputs]="{appMessage: appMessage}">
      </ng-container>
    -->
      <ndc-dynamic [ndcDynamicComponent]="task.component" [ndcDynamicOutputs]="{
      appMessage: { handler: appMessage.bind(this), args: ['$event', task] }
    }"></ndc-dynamic>
    </app-win-window>
  </ng-container>
  <!-- 桌面圖示 -->
  <div class="apps" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="32px grid">
    <div class="link" (click)="onAppClick($event, app)" *ngFor="let app of desktopItems" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="4px" [title]="app.description">
      <mat-icon *ngIf="app.icon">{{app.icon}}</mat-icon>
      <mat-icon *ngIf="app.img"><img [src]="app.img"></mat-icon>
      <label>{{app.appName}}</label>
    </div>
  </div>
  <!-- 工作列 -->
  <div class="task-bar bg-color" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="4px">
    <!-- 開始-->
    <div class="start" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
      <button fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" title="請按這裡以開始">
        <mat-icon class="_portrait-only">smartphone</mat-icon>
        <mat-icon class="_landscape-only">computer</mat-icon>
        <div style="word-break: keep-all;">開始</div>
      </button>
      <!-- [matMenuTriggerFor]="startMenu" -->
      <mat-menu #startMenu="matMenu">
        <div [style.bottom]="'60px'">
          <button mat-menu-item *ngFor="let i of startMenuItems" (click)="i.action()">
            <mat-icon *ngIf="i.icon">{{i.icon}}</mat-icon>
            <label>{{i.name}}</label>
          </button>
        </div>
      </mat-menu>
      <div class="divider"></div>
    </div>
    <!-- 工作條 -->
    <div class="tasks" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <button *ngFor="let task of tasks" fxLayoutAlign="start center" (click)="onTaskBarTaskClick($event, task)"
        [ngClass]="{'active' : !task.minimize && activeWindow === task}">
        <mat-icon *ngIf="task.icon">{{task.icon}}</mat-icon>
        <label fxHide.lt-md>{{task.title}}</label>
      </button>
    </div>
    <!-- 通知列 -->
    <div class="notification" fxLayoutAlign="end center" fxLayoutGap="4px">
      <div class="divider"></div>
      <div class="notifications" fxLayout="row" fxLayoutGap="4px">
        <div class="link" fxLayout="row" (click)="onLangClick()">
          <mat-icon>translate</mat-icon>
        </div>
        <!-- 電池 -->
        <div class="link" fxLayout="row" fxLayoutAlign="center center" *ngIf="battery" (click)="onBatteryClick()">
          <mat-icon>
            {{battery.charging ? 'battery_charging_full' : ( battery.level > 0.2 ? 'battery_std' : 'battery_alert') }}
          </mat-icon>
          <span>{{convertPercent(battery.level)}}%</span>
        </div>
      </div>

      <span class="link" (click)="onDateClick()">{{getTimeNow() | amDateFormat: 'Ah:mm'}}</span>
    </div>
  </div>
</div>
