<div class="desktop full-screen bg-green" fxLayout="column" fxFlexFill [ngStyle]="styleCallBack()">
  <!-- <app-win-window title="test">
    <pre>
print("hello world")
  </pre>
  </app-win-window>
-->
  <ng-container *ngFor="let task of tasks; trackBy: taskTrackBy">
    <app-win-window [title]="task.title" [icon]="task.icon" (wMessage)="wMessage($event, task)">
      <ng-container *ngComponentOutlet="task.component"></ng-container>
    </app-win-window>
  </ng-container>
  <!-- 桌面圖示 -->
  <div class="apps" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="32px grid">
    <div class="link" (click)="onAppClick(app)" *ngFor="let app of desktopItems" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="4px">
      <mat-icon *ngIf="app.icon">{{app.icon}}</mat-icon>
      <mat-icon *ngIf="app.img"><img [src]="app.img"></mat-icon>
      <label>{{app.name}}</label>
    </div>
  </div>
  <!-- 工作列 -->
  <div class="task-bar bg-color" fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="4px">
    <!-- 開始-->
    <div class="start" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
      <button fxLayoutAlign="center center" fxLayoutGap="4px" title="請按這裡以開始">
        <mat-icon class="_portrait-only">smartphone</mat-icon>
        <mat-icon class="_landscape-only">computer</mat-icon>
        <label>開始</label>
      </button>
      <div class="divider"></div>
    </div>
    <!-- 工作條 -->
    <div class="tasks" fxLayout="row" fxLayoutAlign="start center" fxFlex fxHide.lt-md>
      <div fxLayout="row" fxLayoutGap="4px">
        <button *ngFor="let task of tasks" fxLayoutAlign="start center">
          <mat-icon *ngIf="task.icon">{{task.icon}}</mat-icon>
          <label>{{task.title}}</label>
        </button>
      </div>
    </div>
    <!-- 通知列 -->
    <div class="notification" fxLayoutAlign="end center" fxLayoutGap="4px">
      <div class="divider"></div>
      <div class="notifications" fxLayout="row" fxLayoutGap="4px">
        <div class="link" fxLayout="row" (click)="onLangClick()">
          <mat-icon>translate</mat-icon>
        </div>
        <!-- 電池 -->
        <div class="link" fxLayout="row" fxLayoutAlign="center center" *ngIf="battery;else batteryUnknown"
          (click)="onBatteryClick()">
          <mat-icon>
            {{battery.charging ? 'battery_charging_full' : ( battery.level > 0.2 ? 'battery_std' : 'battery_alert') }}
          </mat-icon>
          <span>{{battery.level*100}}%</span>
        </div>

      </div>
      <ng-template #batteryUnknown>
        <mat-icon>battery_unknown</mat-icon>
      </ng-template>
      <div class="link" (click)="onDateClick()">{{getTimeNow() | amDateFormat: 'A h:mm'}}</div>
    </div>
  </div>
</div>
