<!-- https://jdan.github.io/98.css/ -->
<div *ngIf="alive" class="window animate__animated animate__fadeIn" [ngClass]="classCallBack()" [style.top]="css.top"
  [style.left]="css.left">
  <!-- 標題列-->
  <div class="title-bar" [ngClass]="{inactive: !active}" draggable="true" (dragstart)="onDragStart($event);"
    (dragend)="onDragEnd($event);">
    <!-- 標題文字-->
    <div class="title-bar-text" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
      <mat-icon *ngIf="icon && !iconSet">{{icon}}</mat-icon>
      <mat-icon *ngIf="icon && iconSet" [fontSet]="iconSet" [fontIcon]="icon"></mat-icon>
      <span class="window-title">{{title | translate}}</span>
    </div>
    <!-- 右上視窗控制 -->
    <div class="title-bar-controls">
      <button aria-label="Minimize" (click)="btnMinimize()"></button>
      <button [attr.aria-label]=" maximize ? 'Restore': 'Maximize'" (click)="btnMaximize()"></button>
      <button aria-label="Close" (click)="btnClose()"></button>
    </div>
  </div>
  <!-- 視窗內容 -->
  <div class="window-body">
    <ng-content></ng-content>
  </div>
</div>
