.window {
  position: fixed;
  min-width: 128px;
  min-height: 128px;
  .title-bar {
    cursor: move;
  }
  animation-duration: 0.5s;
}
.resizable {
  resize: both;
  overflow: auto;
}

.maximize {
  min-width: 100%;
  min-height: 100%;
}
