.window {
  position: fixed;
  min-width: 128px;
  min-height: 128px;
  .title-bar {
    cursor: move;
  }
  animation-duration: 0.25s;
  max-width: calc(100% - 6px);
  max-height: calc(100% - 10vh);

  z-index: 10;

  .window-body {
    overflow: auto;
  }
}
.resizable {
  resize: both;
  overflow: auto;
}
.maximize {
  min-width: calc(100% - 6px);
  min-height: calc(100% - 10vh);
}

.minimize {
  display: none;
}

mat-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}
