.window {
  position: fixed;
  min-width: 128px;
  .title-bar {
    cursor: move;
  }
  animation-duration: 0.25s;
  max-width: calc(100% - 6px);
  max-height: calc(100% - 9vh);
  z-index: 100;
  .window-body {
    width: calc(100% - 1rem);
    height: calc(100% - 2.5rem);
    max-width: calc(100% - 1rem);
    max-height: calc(100% - 2.5rem);
    overflow: hidden;
  }

  .window-title {
    white-space: nowrap;
  }

}
.maximize {
  min-width: calc(100% - 6px);
  min-height: calc(100% - 10vh);
}

.minimize {
  display: none;
}

.title-bar-controls {
  button {
    @media screen and (orientation: portrait) {
      width: 1.5rem;
      height: 1.5rem;
      background-size: 50%;
    }
  }
  button[aria-label="Close"] {
    @media screen and (orientation: portrait) {
      background-position: center;
    }
  }
}

.active {
  z-index: 100000 !important;
}
