[class^="shell32"], .shell32 {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
}

.shell32-105 {
  background-image: url('./105.ico');
}

.shell32-11 {
  background-image: url('./11.ico');
}

.shell32-111 {
  background-image: url('./111.ico');
}

.shell32-117 {
  background-image: url('./117.ico');
}

.shell32-123 {
  background-image: url('./123.ico');
}

.shell32-129 {
  background-image: url('./129.ico');
}

.shell32-135 {
  background-image: url('./135.ico');
}

.shell32-141 {
  background-image: url('./141.ico');
}

.shell32-147 {
  background-image: url('./147.ico');
}

.shell32-153 {
  background-image: url('./153.ico');
}

.shell32-159 {
  background-image: url('./159.ico');
}

.shell32-169 {
  background-image: url('./169.ico');
}

.shell32-17 {
  background-image: url('./17.ico');
}

.shell32-175 {
  background-image: url('./175.ico');
}

.shell32-179 {
  background-image: url('./179.ico');
}

.shell32-187 {
  background-image: url('./187.ico');
}

.shell32-193 {
  background-image: url('./193.ico');
}

.shell32-199 {
  background-image: url('./199.ico');
}

.shell32-212 {
  background-image: url('./212.ico');
}

.shell32-215 {
  background-image: url('./215.ico');
}

.shell32-22 {
  background-image: url('./22.ico');
}

.shell32-224 {
  background-image: url('./224.ico');
}

.shell32-228 {
  background-image: url('./228.ico');
}

.shell32-245 {
  background-image: url('./245.ico');
}

.shell32-251 {
  background-image: url('./251.ico');
}

.shell32-256 {
  background-image: url('./256.ico');
}

.shell32-259 {
  background-image: url('./259.ico');
}

.shell32-262 {
  background-image: url('./262.ico');
}

.shell32-265 {
  background-image: url('./265.ico');
}

.shell32-268 {
  background-image: url('./268.ico');
}

.shell32-271 {
  background-image: url('./271.ico');
}

.shell32-28 {
  background-image: url('./28.ico');
}

.shell32-280 {
  background-image: url('./280.ico');
}

.shell32-287 {
  background-image: url('./287.ico');
}

.shell32-292 {
  background-image: url('./292.ico');
}

.shell32-298 {
  background-image: url('./298.ico');
}

.shell32-301 {
  background-image: url('./301.ico');
}

.shell32-304 {
  background-image: url('./304.ico');
}

.shell32-307 {
  background-image: url('./307.ico');
}

.shell32-309 {
  background-image: url('./309.ico');
}

.shell32-311 {
  background-image: url('./311.ico');
}

.shell32-316 {
  background-image: url('./316.ico');
}

.shell32-319 {
  background-image: url('./319.ico');
}

.shell32-338 {
  background-image: url('./338.ico');
}

.shell32-34 {
  background-image: url('./34.ico');
}

.shell32-340 {
  background-image: url('./340.ico');
}

.shell32-344 {
  background-image: url('./344.ico');
}

.shell32-41 {
  background-image: url('./41.ico');
}

.shell32-47 {
  background-image: url('./47.ico');
}

.shell32-52 {
  background-image: url('./52.ico');
}

.shell32-59 {
  background-image: url('./59.ico');
}

.shell32-64 {
  background-image: url('./64.ico');
}

.shell32-71 {
  background-image: url('./71.ico');
}

.shell32-76 {
  background-image: url('./76.ico');
}

.shell32-8 {
  background-image: url('./8.ico');
}

.shell32-85 {
  background-image: url('./85.ico');
}

.shell32-9 {
  background-image: url('./9.ico');
}

.shell32-90 {
  background-image: url('./90.ico');
}

.shell32-98 {
  background-image: url('./98.ico');
}
